.matchuppage-matchupboxscore {
    width: 90%;
    margin: auto;
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.matchuppage-matchupboxscore>table th {
    width: 40em;
    font-size: 0.9em;
	text-transform: uppercase;
	letter-spacing: 0.075em;
}
.matchuppage-matchupboxscore>table td {
    font-size: 1.25em;
    padding: 0.125em 0.5em;
}
.matchuppage-matchupboxscore>table {
    border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
    border: 2px solid #000;
    border-radius: 0.25em;
}
.matchuppage-matchupboxscore>table>tbody>tr {
    border: 1px dotted #333;
}
.matchuppage-matchupboxscore>table>tbody>tr:nth-child(even) {background-color: #f4f4f4;}
.matchuppage-matchupboxscore>table>tbody>tr:nth-child(odd) {background-color: #fff;}

.matchuppage-matchupboxscore>table tbody tr:hover {
    font-weight: 700;
    color: #111;
    background-color: #d8d8d8;
}
