.standings-page-nav div button {
    padding: 0.25rem;
}
.standings-page-nav div button img {
    height: 75px;
}

.standings-container {
    border-radius: 3rem;
    padding: 2rem 1rem;
    margin: 0.25rem;
}

.SV {color: #1a4d83;}
.HH {color: #77261c;}
.WC,.OVR {color: #222;}
.SV-bg {background-color: #1a4d8325;}
.HH-bg {background-color: #77261c25;}
.WC-bg,.OVR-bg {background-color: #22222225;}


