.matchuppage-stat-row {
    display: grid;
    row-gap: 1em;
    grid-template-columns: 2fr 1fr 2fr;
    padding: 0.15em;
    border-bottom: 1px dotted var(--mainGrey);
}
.matchuppage-stat-row:last-child {
    border-bottom: none;
}
.matchuppage-stat-row>.team-stat.win {
    font-weight: bold;
    font-size: 1.1em;
    color: #247900;
}
.matchuppage-stat-row>.team-stat.loss {
    color: #990000;
}
.matchuppage-stat-row>.stat-label {
    font-weight: bold;
    font-size: 0.75em;
    align-self: center;
}