thead th {
    font-weight: 500;
    background-color: var(--mainDark);
    color: var(--mainLightGrey);
    font-size: 1em;
    padding: 0.25em;
}

.contractTableHeader {
    margin: 1em;
    font-size: 2em;
    font-weight: 700;
}

tr.Buyout {
    color: var(--mainGrey)
}