.stdg-item-container {
    display: flex;
    padding: 0.5rem;
    margin: auto;

}
.stdg-item-container > div {
    padding: 0.5rem;
}

.stdg-teamName {font-weight: bold;font-size:1.4rem;}
.stdg-teamRecord {font-size: 1.15rem;}
.stdg-teamCF {font-size: 0.9rem;}
.stdg-teamCA {font-size: 0.9rem;}
.stdg-teamDiff {font-size: 0.7rem;}