.matchup-container {
    padding: 0.5rem 0;
    border-bottom: 1px dotted #666;
}
.teamName {
    font-size: 0.8rem;
}
.W {
    font-weight: bold;
    font-size: 0.825rem;
}
.teamLogo img {
    width: 100%;
}