.page-navbar-container {
    padding: 1.25em 0.5em;
}

.page-navbar-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 0;
    padding: 0;
}

.page-navbar-btn {
    min-width: 3em;
    text-align: center;
    font-weight: bold;
    padding: 0.25em 1em;
    border-radius: 0.5em;
    background: var(--mainLightGrey);
    box-shadow: var(--embossShadow);
}

.page-navbar-btn.active {
    background: var(--mainGrey);
    color: var(--mainLightGrey);
}

.page-navbar-btn>img {
    height: 3em;
}

.page-navbar-btn.HH {
    background: rgba(var(--hotelcolour),0.25);
}
.page-navbar-btn.HH.active {
    background: rgba(var(--hotelcolour),0.75);
}
.page-navbar-btn.SV {
    background: rgba(var(--sunviewcolour),0.25);
}
.page-navbar-btn.SV.active {
    background: rgba(var(--sunviewcolour),0.75);
}


@media screen and (max-width:350px) {
    .page-navbar-btn>img {
        height: 2em;
    }
}
@media screen and (min-width:600px) {
    .page-navbar-btn>img {
        height: 3em;
    }
}