.team-ranking-listing {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
    align-items: center;
}

.team-ranking-listing>.teamName {
    font-weight:600;
    font-size: 1.5em;
    padding: 0 0.5em;
}

.team-ranking-listing>.teamStats {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.team-ranking-listing>.teamStats>.teamRecord {
    margin: 0 0.5em;
    font-size: 1.15em;
}
.team-ranking-listing>.teamStats>.teamConfRecord {
    font-size: 1em;
}
.team-ranking-listing>.teamStats>.teamLastWeek {
    margin-left: 2.5em;
    font-size: 0.9em;
}