.scroller-container {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    padding: 0 0.5em;
    align-items: center;
    background: var(--mainLightGrey);
    box-shadow: var(--embossShadow);
    border-radius: 0.5em;
}
.scroller-container>.teaminfo.W>img {
    width: 3em;
    margin: 0.25em 0.25em;
}
.scroller-container>.teaminfo.L>img {
    width: 2.5em;
    margin: 0.25em 0.625em;
}
.scroller-container>.teaminfo>img {
    width: 2.75em;
    margin: 0.25em 0.375em;
}

.scroller-container>.teaminfo.W {
    font-weight: 600;
    font-size: 1.25em;
    color: rgb(0, 100, 0);
}
.scroller-container>.teaminfo.L {
    font-weight: 300;
    font-size: 1em;
    color: rgb(100, 0, 0);
}
.scroller-container>.teaminfo {
    font-weight: 400;
    font-size: 1.125em;
}


.scroller-container>.teaminfo {
    display: flex;
    padding: 0.25em;
    gap: 1em;
    align-items: center;
}

.scroller-container>.matchup-stats {
    grid-column: 1 / span 3;
    margin: 1em 6em;
}