.awards-container {
    margin: 0.5em auto;
    width: 90%;
}

.award-container {
    display:flex;
    flex-direction: column;
    margin: 4em auto;
    background: rgba(255, 215, 0,0.2);
    box-shadow: var(--embossShadow);
    border-radius: 2em;
}

.award-title {
    padding: 1em;

}
.award-container>table {
    margin: 0 0.5em 1em 0.5em;
}

.award-table>tbody>tr>td {
    padding: 0.25em;
}
.award-table>tbody>tr>td:first-child {
    font-size: 1.25em;
}
.award-table>tbody img {
    width: 2em;
    border-radius: 0.5em;
    padding: 0.1em;
}