.main-page-container {
  min-height: calc(100vh - 10em);
  max-width: 1200px;
  padding: 0.5em;
  margin: 0 auto 5em auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* 
Screen Width Breakpoints
default -> 320
first break -> 360
second break -> 412
third break -> 480
fourth break -> 768
fifth break -> 1024
sixth break -> 1280
*/
