.main-page-container {
  min-height: 850px;
  padding-top: 0.5em;
  max-width: 850px;
  margin: auto;
  margin-bottom: 5em;
}

.cup-logo-img-home {
    display: block;
}
.cup-logo-img-home img {
    width: 60%;
}

/* 
Screen Width Breakpoints
default -> 320
first break -> 360
second break -> 412
third break -> 480
fourth break -> 768
fifth break -> 1024
sixth break -> 1280
*/
