.stdg-team-container {
    display:grid;
    grid-template-columns: 1fr 2fr 6fr 3fr 2fr;
    margin: 0.5rem auto;
    text-align: center;
    align-items: center;
}
.stdg-team-logo img {width:40px;}
.stdg-team-rank {font-weight: 600;font-size: 0.9rem;}
.stdg-team-name {font-weight: 700;font-size: 0.95rem;}
.stdg-team-record {font-weight: 600;font-size: 0.85rem;}
.stdg-team-categories {font-weight: 300;font-size: 0.65rem;}